PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=vk546DVJOdR0HzTo87O6i85Q8LNrNvii
DRIVE_DISK=local
DB_CONNECTION=mysql
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=lucid
MYSQL_PASSWORD=
MYSQL_DB_NAME=lucid
SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USERNAME=<username>
SMTP_PASSWORD=<password>
CACHE_VIEWS=false
